@font-face {
            font-family: 'HelveticaNeue';
            src: url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-Lt.woff2) format("woff2"),url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-Lt.woff) format("woff");
            font-weight: 300;
            font-style: normal;
            font-display: swap
        }

        @font-face {
            font-family: 'HelveticaNeue';
            src: url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-Roman.woff2) format("woff2"),url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-Roman.woff) format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'HelveticaNeueCondensed';
            src: url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-Cn.woff2) format("woff2"),url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-Cn.woff) format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'HelveticaNeueCondensed';
            src: url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-MdCn.woff2) format("woff2"),url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-MdCn.woff) format("woff");
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'HelveticaNeueCondensed';
            src: url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-LtCn.woff2) format("woff2"),url(https://www.rado.com/static/version1746606329/frontend/Rado/hyva/en_US/fonts/NeueHelvetica/HelveticaNeueLTPro-LtCn.woff) format("woff");
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }