@font-face {
            font-family: 'HelveticaNeue';
            src: url(HelveticaNeueLTPro-Lt.woff2) format("woff2"),url(HelveticaNeueLTPro-Lt.woff) format("woff");
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'HelveticaNeue';
            src: url(HelveticaNeueLTPro-Roman.woff2) format("woff2"),url(HelveticaNeueLTPro-Roman.woff) format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'HelveticaNeueCondensed';
            src: url(HelveticaNeueLTPro-Cn.woff2) format("woff2"),url(HelveticaNeueLTPro-Cn.woff) format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'HelveticaNeueCondensed';
            src: url(HelveticaNeueLTPro-MdCn.woff2) format("woff2"),url(HelveticaNeueLTPro-MdCn.woff) format("woff");
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'HelveticaNeueCondensed';
            src: url(HelveticaNeueLTPro-LtCn.woff2) format("woff2"),url(HelveticaNeueLTPro-LtCn.woff) format("woff");
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }
